<h1> List of users  </h1>

<hr>

<form action="/create_user" method="post">

  <label for="username_box">Username</label>
    <input id="username_box" type="text" name="username_box" value="Enter a username...">


  <button>Add user</button>
  

</form>

<hr>

<table border="2">
  <tr>
    <th>
    ID
    </th>
    <th>
    Username
    </th>
    <th>
    
    </th>
  </tr>
    <% @list_of_users.each do |a_user| %> 
  <tr>
    <td>
      <%= a_user.id %>
    </td>
    <td>
    <%= a_user.username%>
    </td>
    <td>
    <a href="/users/<%= a_user.username %> ">Show details</a>
  </tr>
    <% end %>
  <td>
  
  </td>


</table>
